:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(170, 150, 132);
    --entry: rgb(150, 130, 112);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(78, 78, 78);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(170, 150, 132);
    --border: rgb(140, 120, 112);
    --page-header: rgb(124, 109, 95);
    --title: rgb(60, 20, 0);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: rgb(60, 50, 55);
    --entry: rgb(40, 30, 35);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(65, 65, 65);
    --page-header: rgb(68, 53, 61);
    --title: rgb(140, 60, 10);
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
